.swap-wallet-wrapper-connect {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1000;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: hsla(0, 0.00%, 0.00%, 0.39);

  backdrop-filter: blur(17px);
}

@media screen and (max-width: 479px) {
  .swap-wallet-wrapper-connect {
    width: 100%;
    padding: 1rem;
  }
}

.swap-wallet-wrapper-connect-wrap {
  position: relative;

  display: flex;
  max-width: 36.12187194824219rem;
  padding: 2rem;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 11px;
  grid-row-gap: 11px;

  border-radius: 30px;

  background-color: hsla(207.56756756756758, 67.91%, 18.74%, 1.00);
}

@media screen and (max-width: 479px) {
  .swap-wallet-wrapper-connect-wrap {
    width: 100%;
    padding: 1rem;
  }
}

.connect-head {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .connect-head {
    margin-right: 27px;
    font-size: 0.9rem;
  }
}

.out-grad {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 1px;
  border-radius: 8px;
  background-image: linear-gradient(8deg, #db57eb, #0084cb 41%, #db57eb 85%);
}

@media screen and (max-width: 479px) {
  .out-grad {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

.connectwal-wrap {
  display: flex;
  min-width: 32rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;

  background-color: #004266;
}

@media screen and (max-width: 767px) {
  .connectwal-wrap {
    min-width: 24rem;
  }
}

@media screen and (max-width: 479px) {
  .connectwal-wrap {
    min-width: auto;
    padding: 0.5rem;
    font-size: 0.875rem;
  }
}

.lear-more {
  text-decoration: underline;
  color: #0B6FFB;
}

.close {
  position: absolute;
  left: auto;
  top: 21px;
  right: 21px;
  bottom: auto;

  display: flex;
}

@media screen and (max-width: 479px) {
  .close {
    top: 15px;
  }
}

.ikonik-pf1o {
  color: #ffffff;
}