@media screen and (max-width: 479px) {
  .footer_component {
    text-align: center;
  }
}

.padding-global {
  padding-right: 5%;
  padding-left: 5%;
}

.padding-global.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 767px) {
  .padding-global.padding-section-large {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.padding-section-large {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.container {
  max-width: 71rem;
  margin-right: auto;
  margin-left: auto;
}

.padding-bottom {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

@media screen and (max-width: 991px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

.padding-bottom.padding-xlarge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xlarge {
  padding: 4rem;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xlarge {
    padding: 2.5rem;
  }
}

.padding-bottom.padding-small {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-small {
  padding: 1.5rem;
}

@media screen and (max-width: 767px) {
  .padding-small {
    padding: 1.25rem;
  }
}

.padding-bottom.padding-xxhuge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xxhuge {
  padding: 10rem;
}

@media screen and (max-width: 991px) {
  .padding-xxhuge {
    padding: 7.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xxhuge {
    padding: 5rem;
  }
}

.padding-bottom.padding-large {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-large {
  padding: 3rem;
}

@media screen and (max-width: 991px) {
  .padding-large {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-large {
    padding: 2rem;
  }
}

.padding-bottom.padding-xhuge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xhuge {
  padding: 7rem;
}

@media screen and (max-width: 991px) {
  .padding-xhuge {
    padding: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xhuge {
    padding: 4rem;
  }
}

.padding-bottom.padding-custom2 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-xxsmall {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xxsmall {
  padding: 0.5rem;
}

.padding-bottom.padding-xxlarge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xxlarge {
  padding: 5rem;
}

@media screen and (max-width: 991px) {
  .padding-xxlarge {
    padding: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-xxlarge {
    padding: 3rem;
  }
}

.padding-bottom.padding-custom3 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-custom1 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-bottom.padding-xsmall {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-xsmall {
  padding: 1rem;
}

@media screen and (max-width: 767px) {
  .padding-xsmall {
    padding: 0.75rem;
  }
}

.padding-bottom.padding-huge {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-huge {
  padding: 6rem;
}

@media screen and (max-width: 991px) {
  .padding-huge {
    padding: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-huge {
    padding: 3.5rem;
  }
}

.padding-bottom.padding-tiny {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-tiny {
  padding: 0.25rem;
}

.padding-bottom.padding-medium {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-medium {
  padding: 2rem;
}

@media screen and (max-width: 767px) {
  .padding-medium {
    padding: 1.5rem;
  }
}

.padding-bottom.padding-0 {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-0 {
  padding: 0rem;
}

.footer_top-wrapper {
  display: grid;
  padding: 2rem;
  justify-items: stretch;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 5vw;
  grid-row-gap: 5vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .footer_top-wrapper {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .footer_top-wrapper {
    grid-row-gap: 3rem;
  }
}

@media screen and (max-width: 479px) {
  .footer_top-wrapper {
    padding: 0rem;
    justify-items: center;
    grid-row-gap: 48px;
  }
}

.footer_left-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .footer_left-wrapper {
    justify-content: center;
    align-items: center;
  }
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 19px;
  grid-row-gap: 19px;
}

.footer-logo {
  width: 200px;
}

@media screen and (max-width: 479px) {
  .footer-logo {
    width: 161px;
  }
}

.footer_menu-wrapper {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 6.25rem;
  grid-row-gap: 6.25rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .footer_menu-wrapper {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .footer_menu-wrapper {
    justify-content: center;
    justify-items: center;
    align-items: start;
    grid-column-gap: 0rem;
    grid-template-columns: max-content;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 479px) {
  .footer_menu-wrapper {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.footer_link-list {
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: flex-start;
  grid-auto-columns: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .footer_link-list {
    justify-content: flex-start;
    align-items: center;
  }
}

.footer-text {
  font-family: Questrial;
  font-size: 1.375rem;
  color: #ECF1F0;
}

.footer_link {
  transition: color 350ms ease;
  font-size: 1rem;
  text-decoration: none;
}

.text-color-grey {
  color: #B6B6B6;
}

.hide {
  display: none;
}

.spacer-medium {
  padding-top: 2rem;
}

#w-node-_7bcc3285-d04c-6d65-9cb1-e950c61137dd-3462eb7d {
  grid-row-start: span 2;
  grid-row-end: span 2;
  grid-column-start: span 1;
  grid-column-end: span 1;
}